SchemaApp/.vs/SchemaApp/DesignTimeBuild/.dtbcache.v2
SchemaApp/.vs/SchemaApp/v16/.suo
SchemaApp/GUILayer/obj/Debug/net5.0-windows/App.g.i.cs
SchemaApp/GUILayer/obj/Debug/net5.0-windows/ContentArea.g.i.cs
SchemaApp/GUILayer/obj/Debug/net5.0-windows/GUILayer.assets.cache
SchemaApp/GUILayer/obj/Debug/net5.0-windows/GUILayer.csprojAssemblyReference.cache
SchemaApp/GUILayer/obj/Debug/net5.0-windows/GUILayer_MarkupCompile.i.cache
SchemaApp/GUILayer/obj/Debug/net5.0-windows/GUILayer_MarkupCompile.i.lref
SchemaApp/GUILayer/obj/Debug/net5.0-windows/GeneratedInternalTypeHelper.g.i.cs
SchemaApp/GUILayer/obj/Debug/net5.0-windows/MainWindow.g.i.cs
SchemaApp/GUILayer/obj/GUILayer.csproj.nuget.dgspec.json
SchemaApp/GUILayer/obj/GUILayer.csproj.nuget.g.props
SchemaApp/GUILayer/obj/project.assets.json
SchemaApp/GUILayer/obj/project.nuget.cache
SchemaApp/SchemaApp/obj/ConsoleApp.csproj.nuget.dgspec.json
SchemaApp/SchemaApp/obj/ConsoleApp.csproj.nuget.g.props
SchemaApp/SchemaApp/obj/Debug/netcoreapp3.1/ConsoleApp.assets.cache
SchemaApp/SchemaApp/obj/Debug/netcoreapp3.1/ConsoleApp.csprojAssemblyReference.cache
SchemaApp/SchemaApp/obj/project.assets.json
SchemaApp/SchemaApp/obj/project.nuget.cache
SchemaApp/SchemaClasses/obj/Debug/netcoreapp3.1/SchemaClasses.assets.cache
SchemaApp/SchemaClasses/obj/Debug/netcoreapp3.1/SchemaClasses.csprojAssemblyReference.cache
SchemaApp/SchemaClasses/obj/SchemaClasses.csproj.nuget.dgspec.json
SchemaApp/SchemaClasses/obj/SchemaClasses.csproj.nuget.g.props
SchemaApp/SchemaClasses/obj/project.assets.json
SchemaApp/SchemaClasses/obj/project.nuget.cache